<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listar Produtos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/listar_carro.css' %}">
</head>
<body>
    <h1>Produtos</h1>
    <a href="{% url 'adicionar_produto' %}" class="btn-acao aprovar">Adicionar Produto</a>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.descricao }}</td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.quantidade }}</td>
                <td>
                    <a href="{% url 'editar_produto' produto.pk %}" class="btn-acao editar">Editar</a>
                    <a href="{% url 'excluir_produto' produto.pk %}" class="btn-acao excluir">Excluir</a>
                    <a href="{% url 'somar_produto' produto.pk %}" class="btn-acao aprovar">Somar</a> <!-- Novo botão -->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
